@{
    ViewData["Title"] = "Home Page";

    var options = new List<string>() { "git status", "git add .", "ipconfig" };
}

    <div class="text-center">
        <h1 class="display-4">Добро пожаловать!</h1>
        <form method="post">
            <p>Введите консольную команду: <input type="text" name="command" list="cmdCommands" required autocomplete="off" /></p>
            <datalist id="cmdCommands" name="commandList">
                @foreach (var option in options)
                {
                    <option>@option</option>
                }
            </datalist>
            <button type="submit" name="run">Выполнить</button>
        </form>
        @functions
        {
            public string ShowResult()
            {
                return "";
            }
        }
        <label>@ShowResult()</label>
    </div>
