@model WebTestDNS.Models.ResultModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <partial name="~/Views/Home/AddCommandForm.cshtml" model=@Model/>
</div>
