@model WebTestDNS.Models.ResultModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    @Html.Partial("~/Views/Home/AddCommandForm.cshtml", Model)
</div>
