@model WebTestDNS.Models.ResultModel
@{
    ViewData["Title"] = "Добавить команду";
}

<div class="text-center">
    <h1 class="text-black-50">Добавление команды:</h1><br>
    <partial name="~/Views/Home/AddCommandForm.cshtml" model=@Model/>
</div>
