@model IEnumerable<WebTestDNS.Models.CommandModel>
@{
    ViewData["Title"] = "Home Page";
    var commands = Model.ToList();
    var options = new List<string>();
    foreach (var command in commands)
    {
        options.Add(command.ToString());
    }
}

    <div class="text-center">
        <h1 class="display-4">Добро пожаловать!</h1>
        <form method="post" action="Home/Create">
            <p>Введите консольную команду: <input type="text" name="command" list="cmdCommands" required autocomplete="off" /></p>
            <datalist id="cmdCommands" name="commandList">
                @foreach (var option in options)
                {
                    <option>@option</option>
                }
            </datalist>
            <button type="submit">Выполнить</button>
        </form>
        @functions
        {
            public string ShowResult()
            {
                return "";
            }
        }
        <label>@ShowResult()</label>
    </div>
