@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <form><p>Введите консольную команду: <input type="text" name="command" required/></p>
    <button type="submit" name="run">Выполнить</button></form>
</div>
